:root {
    --key-size: 32px;
}




#master-volume {
    height: 160px;
    margin: 0px;
}

input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8.4px;
    cursor: pointer;
    background: #ece4c1;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border-style: none;
    height: 16px;
    width: 16px;
    border-radius: 6px;
    background: #e0c49e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
    transition: box-shadow 0.5s ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    transition: box-shadow 0.05s ease;
    box-shadow: 0 0 0 3px #109145ad;
}

#keyboard {
    margin: 8px;
    padding: 8px;
    background-color: bisque;
    display:inline-block;
    user-select: none;
}

.key-label-wrapper {
    position: relative;
    display:inline-block;
}

.key-label {
    position: absolute;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;

    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d9bd96;
    font-size: calc(.45*var(--key-size));
}

.key-row {
    height: calc(1.05 * var(--key-size));
}

key-button, .key_s, .key_m, .key_l, .key_blank {
    min-width: calc(var(--key-size));
    min-height: calc(var(--key-size));
    width: calc(var(--key-size));
    height: calc(var(--key-size));
    display: inline-block;
}
.key_s {min-width: calc(1* var(--key-size));}
.key_m {min-width: calc(2* var(--key-size));}
.key_l {min-width: calc(3* var(--key-size));}

.button-top {
    fill:#ece0d0;
}
key-button.pressed svg .button-top  {
    transform: translate(0px,4px);
    transition: transform 0.05s ease;
    fill:#eedbc2;
}
key-button.pressed .key-label {
    transform: translate(-50%, -35%);
    transition: transform 0.05s ease;
}