:root {
    --key-size: 32px;
}

/*MASTER VOLUME*/
#master-volume {
    position: absolute;
    display: inline-block;
    left: 100%;
}
#master-volume-slider {
    width: 180px;
    transform: rotate(90deg);
    transform-origin: left;
}

/* KEYBOARD */
#keyboard {
    margin: 8px;
    padding: 8px;
    background-color: bisque;
    display:inline-block;
    user-select: none;
    border-radius: 6px;
    filter: drop-shadow(0 6px 0px #d1b48b);
}
.key-label-wrapper {
    position: relative;
    display:inline-block;
}
.key-label {
    position: absolute;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;

    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d9bd96;
    font-size: calc(.45*var(--key-size));
}
.key-row {
    height: calc(1.05 * var(--key-size));
}
key-button, .key_s, .key_m, .key_l, .key_blank {
    min-width: calc(var(--key-size));
    min-height: calc(var(--key-size));
    width: calc(var(--key-size));
    height: calc(var(--key-size));
    display: inline-block;
}
.key_s {min-width: calc(1* var(--key-size));}
.key_m {min-width: calc(2* var(--key-size));}
.key_l {min-width: calc(3* var(--key-size));}

key-button svg .button-top, key-button svg .button-outline {
    fill:#ece0d0;
    stroke: #0d944500;
    --outline-width: 10px;
    transition: all 0.33s ease;
}
key-button:hover svg .button-top, key-button:hover svg .button-outline {
    fill:#f6e6d1;
    stroke: #08a74a3d;
    transition: fill 0.1s ease;
    transition: stroke 0.1s ease;
}
key-button.pressed svg .button-top, key-button.pressed svg .button-outline   {
    transform: translate(0px,4px);
    fill:#eedbc2;
    transition: transform 0.07s ease;
}
key-button.pressed .key-label {
    transform: translate(-50%, -35%);
    transition: transform 0.07s ease;
}