@font-face {
    font-family: "Arial Rounded Bold";
    src: url('../fonts/Arial Rounded MT Bold Regular.ttf');
}

html, body {
    font-family: "Arial Rounded Bold";
    background-color: #fffae4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main-win {
    transform-origin: top left;
    width: 640px;
    height: 360px;
}

.drag-region {
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
    z-index: 9999;
    background-color: #e0c49e;
}

.svg-button {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 0 2px #0000005d);
    transition: all 0.1s ease;
    
}
.svg-button:hover {
    transform: scale(1.1);
}

#male {
    --alt1-color: #f3f3f3;
    --alt2-color: #4b4b4b;
    transition: all 0.1s ease;
    user-select: none;
}
#female {
    --alt1-color: #f3f3f3;
    --alt2-color: #4b4b4b;
    transition: all 0.1s ease;
}


#male[pressed=true] {
    --alt1-color: #f0feff;
    --alt2-color: #52e1fa;
    filter: drop-shadow(0 0 6px #00aaff8c);
}
#female[pressed=true] {
    --alt1-color: #fff1ff;
    --alt2-color: #fd4ee6;
    filter: drop-shadow(0 0 6px #f700ff8c);
}