@font-face {
    font-family: "Arial Rounded Bold";
    src: url('../fonts/Arial Rounded MT Bold Regular.ttf');
}

body {
    font-family: "Arial Rounded Bold";
    font-size: 100%;
}

.drag-region {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
    z-index: 9999;
}