@font-face {
    font-family: "Arial Rounded Bold";
    src: url('../fonts/Arial Rounded MT Bold Regular.ttf');
}

body {
    font-family: "Arial Rounded Bold";
    margin: 0px;
    background-color: #fffae4;
}

.drag-region {
    width: 100%;
    height: 50px;
    -webkit-app-region: drag;
    z-index: 9999;
    background-color: #e0c49e;
}

.svg-icon {
    width: 20vw;
    height: 20vw;
}

.main-win {
    margin: 8px;
}